.benefist {
  &__container {
    margin-bottom: 330px;
    display: flex;
    flex-direction: column;
    gap: 160px;
  }
  &__box--one {
    position: relative;
    display: flex;
    gap: 220px;
  }
  &__box--one::before {
    display: inline-block;
    content: url(.././img/benefist_bgi.png);
    position: absolute;
    left: 100%;
  }
  &__box--two {
    position: relative;
    display: flex;
    gap: 220px;
  }
  &__box--two::before {
    display: inline-block;
    content: url(.././img/benefist_bgi.png);
    position: absolute;
    right: 100%;
  }
  &__box--three {
    position: relative;
    display: flex;
    gap: 220px;
  }
  &__box--three::before {
    display: inline-block;
    content: url(.././img/benefist_bgi.png);
    position: absolute;
    left: 100%;
  }
  &__box--four {
    position: relative;
  }
  &__box--four::before {
    display: inline-block;
    content: url(.././img/benefist_pointer.svg);
    position: absolute;
    right: -180%;
    bottom: 0;
  }
  &__box--fiwe {
    position: relative;
  }
  &__box--fiwe::before {
    display: inline-block;
    content: url(.././img/benefist_pointer2.svg);
    position: absolute;
    right: 210%;
    top: 0;
  }
  &__box--six {
    position: relative;
  }
  &__box--six::before {
    display: inline-block;
    content: url(.././img/benefist_pointer.svg);
    position: absolute;
    left: 200%;
    top: 80px;
  }
  &__img {
    border-radius: 50%;
  }
  &__title {
    width: 445px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: $dark-navy;
  }
  &__text {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    width: 445px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: $dim-grey;
  }
  &__btn {
    padding: 14px 44px;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    background-color: $yellow;
    border: none;
    cursor: pointer;
  }
}
