.benefist {
  &__container {
    margin-bottom: 330px;
    display: flex;
    flex-direction: column;
    gap: 160px;
  }
  &__box--one {
    position: relative;
    display: flex;
    gap: 220px;
  }
  &__box--one::before {
    display: inline-block;
    content: url(.././img/benefist_bgi.png);
    position: absolute;
    left: 100%;
  }
  &__box--two {
    position: relative;
    display: flex;
    gap: 220px;
  }
  &__box--two::before {
    display: inline-block;
    content: url(.././img/benefist_bgi.png);
    position: absolute;
    right: 100%;
  }
  &__box--three {
    position: relative;
    display: flex;
    gap: 220px;
  }
  &__box--three::before {
    display: inline-block;
    content: url(.././img/benefist_bgi.png);
    position: absolute;
    left: 100%;
  }
  &__box--four {
    position: relative;
  }
  &__box--four::before {
    display: inline-block;
    content: url(.././img/benefist_pointer.svg);
    position: absolute;
    right: -140%;
    bottom: 0;
  }
  &__box--fiwe {
    position: relative;
  }
  &__box--fiwe::before {
    display: inline-block;
    content: url(.././img/benefist_pointer2.svg);
    position: absolute;
    right: 210%;
    top: 0;
  }
  &__box--six {
    position: relative;
  }
  &__box--six::before {
    display: inline-block;
    content: url(.././img/benefist_pointer.svg);
    position: absolute;
    left: 100%;
    top: 80px;
  }
  &__img {
    border-radius: 50%;
  }
  &__title {
    width: 445px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: $dark-navy;
  }
  &__text {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: $dim-grey;
  }
  &__btn {
    padding: 14px 44px;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    background-color: $yellow;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  &__btn:hover {
    box-shadow: 0 0 5px 0 $yellow;
  }
}
@media only screen and (max-width: 1300px) {
  .benefist {
    &__box--one {
      padding-left: 40px;
      padding-right: 40px;
      gap: 100px;
    }
    &__box--two {
      padding-left: 40px;
      padding-right: 40px;
      gap: 100px;
    }
    &__box--three {
      padding-left: 40px;
      padding-right: 40px;
      gap: 100px;
    }
    &__box--one::before {
      display: none;
    }
    &__box--two::before {
      display: none;
    }
    &__box--three::before {
      display: none;
    }
  }
}
@media only screen and (max-width: 1100px) {
  .benefist {
    &__box--one {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__box--one &__img {
      order: -1;
    }
    &__box--two {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__box--three {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__box--three &__img {
      order: -1;
    }
    &__title {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    &__text {
      text-align: center;
    }
    &__btn {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    &__box--four::before {
      display: none;
    }
    &__box--fiwe::before {
      display: none;
    }
    &__box--six::before {
      display: none;
    }
  }
}
@media only screen and (max-width: 520px) {
  .benefist {
    &__container {
      margin-bottom: 120px;
      gap: 120px;
    }
    &__box--one {
      gap: 56px;
    }
    &__box--two {
      gap: 56px;
    }
    &__box--three {
      gap: 56px;
    }
    &__title {
      width: 311px;
      font-size: 32px;
      line-height: 32px;
    }
    &__text {
      width: 311px;
      font-size: 15px;
      line-height: 25px;
    }
    &__img {
      width: 311px;
      height: 311px;
    }
  }
}
@media only screen and (max-width: 376px) {
  .benefist {
    &__box--one {
      padding-left: 32px;
      padding-right: 32px;
    }
    &__box--two {
      padding-left: 32px;
      padding-right: 32px;
    }
    &__box--three {
      padding-left: 32px;
      padding-right: 32px;
    }
  }
}
