.header {
  &__container {
    padding-top: 22px;
    padding-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__box {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 58px;
  }
  &__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list {
    @include reset-list;
    display: flex;
    gap: 32px;
  }
  &__link {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: $dim-grey;
    transition: all 0.3s ease;
  }
  &__link:hover {
    color: $yellow;
  }
  &__btn {
    padding: 14px 39px;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    border: 3px solid $yellow;
    background-color: $yellow;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  &__btn:hover {
    background-color: transparent;
    color: $yellow;
  }
  &__logo:hover {
    transition: all 0.3 ease;
    opacity: 0.8;
  }
  &__logo--img {
    margin: 0;
    padding: 0;
  }
  &__menu {
    position: absolute;
    margin: 0;
    padding: 0;
    display: none;
    width: 30px;
    height: 26px;
    background-image: url(.././img/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 15;
  }
}
@media only screen and (max-width: 1024px) {
  .header {
    &__container {
      max-width: 1024px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .header {
    &__container {
      max-width: 768px;
      padding-left: 30px;
      padding-right: 30px;
    }
    &__btn {
      padding: 10px 30px;
      font-size: 12px;
      line-height: 20px;
    }
  }
}
@media only screen and (max-width: 700px) {
  .header {
    &_container {
      max-width: 700px;
    }
    &__box {
      width: 100%;
    }
    &__logo {
      margin-left: auto;
      margin-right: auto;
    }
    &__logo--img {
      width: 76px;
      height: 20px;
    }
    &__nav {
      display: none;
      background-color: #333a44;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 60%;
      z-index: 12;
    }
    &__list {
      margin-top: 128px;
      margin-left: 32px;
      flex-direction: column;
      gap: 24px;
    }
    &__link {
      color: #e5ecf4;
    }
    &__btn {
      width: 192px;
      margin-bottom: 48px;
      margin-left: 32px;
    }
    &__menu {
      display: block;
      width: 20px;
      height: 16px;
    }
    &__open__nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
    &__open__menu {
      background-image: url(.././img/close.svg);
    }
  }
}
@media only screen and (max-width: 425px) {
  .header {
    &__btn {
      width: 140px;
      font-size: 10px;
      line-height: 15px;
    }
  }
}
