.intro {
  &__container {
    position: relative;
    padding-top: 153px;
    padding-bottom: 152px;
    background-image: url(.././img/intro_bgi.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__title {
    width: 500px;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: #ffffff;
  }
  &__text {
    position: relative;
    margin: 0;
    padding: 0;
    margin-left: 95px;
    margin-bottom: 40px;
    width: 405px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
  }
  &__text::before {
    display: inline-block;
    content: url(.././img/intro_pointer.svg);
    position: absolute;
    left: 110%;
    top: 50px;
  }
  &__btn {
    margin-left: 95px;
    padding: 14px 39px;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    background-color: $yellow;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  &__btn:hover {
    box-shadow: 0 0 5px 0 $yellow;
  }
  &__decoration {
    position: absolute;
    width: 203px;
    border: 15px solid $yellow;
    left: 0;
    top: 370px;
  }
}
@media only screen and (max-width: 1200px) {
  .intro {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__title {
      text-align: center;
    }
    &__text {
      width: 500px;
      margin-left: 0;
      text-align: center;
    }
    &__text::before {
      display: none;
    }
    &__btn {
      margin-left: 0;
      position: relative;
    }
    &__btn::before {
      content: url(.././img/intro_m_pointer.svg);
      position: absolute;
      bottom: -150px;
      right: 100px;
    }
    &__decoration {
      display: none;
    }
  }
}
@media only screen and (max-width: 550px) {
  .intro {
    &__container {
      max-width: 550px;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 80px;
    }
    &__title {
      width: 400px;
    }
    &__text {
      width: 400px;
    }
  }
}
@media only screen and (max-width: 450px) {
  .intro {
    &__title {
      width: 311px;
      font-size: 40px;
      line-height: 40px;
    }
    &__text {
      width: 311px;
      font-size: 15px;
      line-height: 25px;
    }
  }
}
