.faqs {
  padding-top: 120px;
  padding-bottom: 160px;

  &__title {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: #495567;
  }
  &__box {
    display: flex;
    justify-content: space-between;
  }
  &__box--one {
    width: 730px;
    margin: 0;
    padding: 0;
  }
  &__box--two {
    width: 730px;
    margin: 0;
    padding: 0;
  }
  &__box__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.78571px;
    color: #495567;
  }
  &__minibox {
    position: relative;
    padding: 32px 40px;
    margin-bottom: 16px;
    background-color: #f2f5f9;
  }
  &__btn {
    display: block;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-image: url(.././img/about_input.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 40px;
  }
  &__minititle {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: #495567;
  }
  &__text1 {
    display: none;
    margin: 0;
    padding: 0;
    margin-top: 24px;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #495567;
  }
  &__text2 {
    display: none;
    margin: 0;
    padding: 0;
    margin-top: 24px;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #495567;
  }
  &__text3 {
    display: none;
    margin: 0;
    padding: 0;
    margin-top: 24px;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #495567;
  }
  &__text4 {
    display: none;
    margin: 0;
    padding: 0;
    margin-top: 24px;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #495567;
  }
  &__text5 {
    display: none;
    margin: 0;
    padding: 0;
    margin-top: 24px;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #495567;
  }
  &__text6 {
    display: none;
    margin: 0;
    padding: 0;
    margin-top: 24px;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #495567;
  }
  &__text {
    display: block;
  }
  &__open__btn {
    background-image: url(.././img/about_input_activ.svg);
  }
}
