.faqs {
  padding-bottom: 160px;

  &__title {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: #495567;
  }
  &__box {
    display: flex;
    justify-content: space-between;
  }
  &__box--one {
    width: 730px;
    margin: 0;
    padding: 0;
  }
  &__box--two {
    width: 730px;
    margin: 0;
    padding: 0;
  }
  &__box__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.78571px;
    color: #495567;
  }
  &__minibox {
    position: relative;
    padding: 32px 40px;
    margin-bottom: 16px;
    background-color: #f2f5f9;
  }
  &__btn {
    display: block;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-image: url(.././img/about_input.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 40px;
  }
  &__minititle {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: #495567;
  }
  &__text1 {
    display: none;
    margin: 0;
    padding: 0;
    margin-top: 24px;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #495567;
  }
  &__text2 {
    display: none;
    margin: 0;
    padding: 0;
    margin-top: 24px;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #495567;
  }
  &__text3 {
    display: none;
    margin: 0;
    padding: 0;
    margin-top: 24px;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #495567;
  }
  &__text4 {
    display: none;
    margin: 0;
    padding: 0;
    margin-top: 24px;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #495567;
  }
  &__text5 {
    display: none;
    margin: 0;
    padding: 0;
    margin-top: 24px;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #495567;
  }
  &__text6 {
    display: none;
    margin: 0;
    padding: 0;
    margin-top: 24px;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #495567;
  }
  &__text {
    display: block;
  }
  &__open__btn {
    background-image: url(.././img/about_input_activ.svg);
  }
}
@media only screen and (max-width: 1350px) {
  .faqs {
    &__container {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}
@media only screen and (max-width: 1250px) {
  .faqs {
    &__container {
      padding-left: 70px;
      padding-right: 70px;
    }
  }
}
@media only screen and (max-width: 1250px) {
  .faqs {
    &__container {
      padding-left: 40px;
      padding-right: 40px;
    }
    &__box {
      align-items: center;
      flex-direction: column;
    }
    &__box--mb {
      margin-bottom: 64px;
    }
    &__box__title {
      margin-bottom: 32px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .faqs {
    &__box--one {
      width: 680px;
    }
    &__box--two {
      width: 680px;
    }
  }
}
@media only screen and (max-width: 730px) {
  .faqs {
    &__box--one {
      width: 650px;
    }
    &__box--two {
      width: 650px;
    }
  }
}
@media only screen and (max-width: 690px) {
  .faqs {
    &__box--one {
      width: 620px;
    }
    &__box--two {
      width: 620px;
    }
  }
}
@media only screen and (max-width: 660px) {
  .faqs {
    &__box--one {
      width: 600px;
    }
    &__box--two {
      width: 600px;
    }
  }
}
@media only screen and (max-width: 640px) {
  .faqs {
    &__box--one {
      width: 570px;
    }
    &__box--two {
      width: 570px;
    }
  }
}
@media only screen and (max-width: 600px) {
  .faqs {
    &__box--one {
      width: 520px;
    }
    &__box--two {
      width: 520px;
    }
  }
}
@media only screen and (max-width: 550px) {
  .faqs {
    &__box--one {
      width: 500px;
    }
    &__box--two {
      width: 500px;
    }
    &__minititle {
      font-size: 20px;
      line-height: 24px;
    }
  }
}
@media only screen and (max-width: 520px) {
  .faqs {
    &__box__title {
      font-size: 30px;
      line-height: 40px;
    }
    &__box--one {
      width: 440px;
    }
    &__box--two {
      width: 440px;
    }
  }
}
@media only screen and (max-width: 470px) {
  .faqs {
    &__box--one {
      width: 400px;
    }
    &__box--two {
      width: 400px;
    }
    &__minibox {
      padding: 32px;
    }
    &__btn {
      right: 20px;
    }
  }
}
@media only screen and (max-width: 425px) {
  .faqs {
    padding-bottom: 120px;

    &__container {
      padding-left: 32px;
      padding-right: 32px;
    }
    &__box--one {
      width: 311px;
    }
    &__box--two {
      width: 311px;
    }
    &__minititle {
      font-size: 18px;
      line-height: 24px;
    }
  }
}
