.connection {
  padding-bottom: 160px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__box {
    margin: 0;
    padding: 0;
    padding: 32px 64px 35px 40px;
    padding-top: 32px;
    padding-bottom: 35px;
    background-color: #f2f5f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__box--one {
    margin: 0;
    padding: 0;
  }
  &__title {
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: #495567;
  }
  &__text {
    margin: 0;
    padding: 0;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #495567;
  }
  &__btn {
    padding: 14px 67px;
    background-color: $yellow;
    border: 3px solid $yellow;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  &__btn:hover {
    background-color: transparent;
    color: $yellow;
  }
}
@media only screen and (max-width: 1024px) {
  .connection {
    &__container {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .connection {
    &__container {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}
@media only screen and (max-width: 700px) {
  .connection {
    &__box {
      flex-direction: column;
    }
    &__title {
      text-align: center;
    }
    &__text {
      text-align: center;
      margin-bottom: 16px;
    }
  }
}
@media only screen and (max-width: 450px) {
  .connection {
    padding-bottom: 120px;

    &__container {
      padding-left: 32px;
      padding-right: 32px;
    }
    &__box {
      padding: 36px 32px 32px 32px;
    }
    &__box--one {
      width: 100%;
    }
    &__title {
      font-size: 18px;
      line-height: 24px;
    }
    &__text {
      font-size: 15px;
      line-height: 25px;
    }
  }
}
